@model dynamic

<div class="uk-flex-top" id="modal-help" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
        <h2 class="uk-modal-title">Help</h2>
        <div class="search">
            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
            <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
        </div>
        <div class="uk-margin-small-left uk-margin-small-bottom uk-margin-medium-top">
            <h4>Popular Q</h4>
            <ul>
                <li><img src="~/img/svgico/clipboard-text.svg" alt="icon"><span>How to Upload Your Developed Game</span></li>
                <li><img src="~/img/svgico/clipboard-text.svg" alt="icon"><span>How to Go Live Stream</span></li>
                <li><img src="~/img/svgico/clipboard-text.svg" alt="icon"><span>Get in touch with the Creator Support Team</span></li>
            </ul>
            <ul>
                <li><a href="">browse all articles</a></li>
                <li><a href="">Send Feedback</a></li>
            </ul>
        </div>
    </div>
</div>