@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TeamHost.Application.Features.Games.DTOs.LoginDtoRequest

@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TeamHost - Join now and play mighty games!</title>
    <meta content="Templines" name="author">
    <meta content="TeamHost" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/libs.min.css">
    <link rel="stylesheet" href="~/css/main.css">
</head>

<body class="page-login">

    <!-- Loader-->
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <main class="page-first-screen">
            <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-flex-middle uk-width-1-1" data-uk-grid>
                <div class="logo-big">
                    <span>TeamHost</span>
                    <h1>Join now and play mighty games!</h1>
                </div>
                <div>
                    <div class="form-login">
                        <div class="form-login__social">
                        </div>
                        <div class="form-login__box">
                            <div class="uk-heading-line uk-text-center"><span>or with Email</span></div>
                            <form asp-action="Login" asp-controller="Login" asp-area="Auth" method="post">
                                 <div class="uk-margin">
                                     <input class="uk-input" asp-for="Username" type="text" placeholder="Username">
                                 </div>
                                 <div class="uk-margin">
                                     <input class="uk-input" asp-for="Password" type="password" placeholder="Password">
                                 </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-danger uk-width-1-1" type="submit">Log In</button>
                                </div>
                                <div class="uk-margin uk-text-center"><a href="01_login-in.html">Forgotten password?</a></div>
                                <hr>
                                <div class="uk-text-center"><span>Don’t have an account?</span>
                                     <a class="uk-margin-small-left" asp-action="Index" asp-controller="Register" asp-area="Auth">Register</a> 
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/js/libs.js"></script>
    <script src="~/js/main.js"></script>
</body>

</html>