@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">My Favourites</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="uk-grid uk-child-width-1-4@xl uk-child-width-1-2@s uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-1-1">
                                        <div class="search">
                                            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                            <div class="search__btn"><button type="button"><i class="ico_microphone"></i></button></div>
                                        </div>
                                    </div>
                                    <div><select class="js-select">
                                            <option value="">Sort By: Price</option>
                                            <option value="Price 1">Price 1</option>
                                            <option value="Price 2">Price 2</option>
                                            <option value="Price 3">Price 3</option>
                                        </select></div>
                                    <div><select class="js-select">
                                            <option value="">Category: All</option>
                                            <option value="Category 1">Category 1</option>
                                            <option value="Category 2">Category 2</option>
                                            <option value="Category 3">Category 3</option>
                                        </select></div>
                                    <div><select class="js-select">
                                            <option value="">Platform: All</option>
                                            <option value="Platform 1">Platform 1</option>
                                            <option value="Platform 2">Platform 2</option>
                                            <option value="Platform 3">Platform 3</option>
                                        </select></div>
                                    <div class="uk-text-right"><a href="">15 items</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="game-card --horizontal favourites-game">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="~/img/stronghold.jpg" alt="Stronghold Kingdoms" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Stronghold Kingdoms</a>
                                    <div class="game-card__genre">Strategy * Medieval * City Builder</div>
                                    <div class="game-card__rating-and-price">
                                        <div class="game-card__rating"><span>3.9</span><i class="ico_star"></i></div>
                                        <div class="game-card__price"><span>Free</span></div>
                                    </div>
                                    <div class="game-card__bottom">
                                        <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                    </div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal favourites-game">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="~/img/pubg.jpg" alt="PUBG: BATTLEGROUNDS" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> PUBG: BATTLEGROUNDS</a>
                                    <div class="game-card__genre">Battle Royal * Survival * Multiplayer</div>
                                    <div class="game-card__rating-and-price">
                                        <div class="game-card__rating"><span>4.2</span><i class="ico_star"></i></div>
                                        <div class="game-card__price"><span>$29.99 USD</span></div>
                                    </div>
                                    <div class="game-card__bottom">
                                        <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                    </div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal favourites-game">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="~/img/total-war.jpg" alt="Total War: ROME REMASTERED" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Total War: ROME REMASTERED</a>
                                    <div class="game-card__genre">Strategy * Action * Medieval</div>
                                    <div class="game-card__rating-and-price">
                                        <div class="game-card__rating"><span>4.4</span><i class="ico_star"></i></div>
                                        <div class="game-card__price"><span>$29.99 USD</span></div>
                                    </div>
                                    <div class="game-card__bottom">
                                        <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                    </div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                        <div class="game-card --horizontal favourites-game">
                            <div class="game-card__box">
                                <div class="game-card__media"><a href="10_game-profile.html"><img src="~/img/hunt-showdown.jpg" alt="Hunt: Showdown" /></a></div>
                                <div class="game-card__info"><a class="game-card__title" href="10_game-profile.html"> Hunt: Showdown</a>
                                    <div class="game-card__genre">Hunting * Horror * Multiplayer</div>
                                    <div class="game-card__rating-and-price">
                                        <div class="game-card__rating"><span>4.3</span><i class="ico_star"></i></div>
                                        <div class="game-card__price"><span>$39.99 USD</span></div>
                                    </div>
                                    <div class="game-card__bottom">
                                        <div class="game-card__platform"><i class="ico_windows"></i><i class="ico_apple"></i></div>
                                    </div>
                                </div>
                                <div class="game-card__more"><a href="10_game-profile.html"><i class="ico_more"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@l">
                        <div class="widjet --my-list">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">My Lists</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="my-game-list">
                                    <li class="my-game-item">
                                        <div class="my-game-item__letter" style="background: #4398E8;">S</div>
                                        <div class="my-game-item__title">Strategy Games</div>
                                        <div class="my-game-item__more"><a href=""><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__letter" style="background: #FF5B5B;">A</div>
                                        <div class="my-game-item__title">Action Games</div>
                                        <div class="my-game-item__more"><a href=""><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__letter" style="background: #C73C00;">M</div>
                                        <div class="my-game-item__title">Multiplayer Games</div>
                                        <div class="my-game-item__more"><a href=""><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__letter" style="background: #939393;">B</div>
                                        <div class="my-game-item__title">Best Games</div>
                                        <div class="my-game-item__more"><a href=""><i class="ico_more"></i></a></div>
                                    </li>
                                    <li class="my-game-item">
                                        <div class="my-game-item__letter" style="background: #FF3ED4;">R</div>
                                        <div class="my-game-item__title">Racing Games</div>
                                        <div class="my-game-item__more"><a href=""><i class="ico_more"></i></a></div>
                                    </li>
                                </ul><button class="creat-list-btn" href=""><i class="ico_add-square"></i><span>Create New List</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>