@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@xl">
                        <div class="widjet --filters">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Friends</h3>
                            </div>
                            <div class="widjet__body">
                                <div class="uk-grid uk-flex-middle uk-grid-small" data-uk-grid>
                                    <div class="uk-width-expand@s">
                                        <div class="search">
                                            <div class="search__input"><i class="ico_search"></i><input type="search" name="search" placeholder="Search"></div>
                                        </div>
                                    </div>
                                    <div class="uk-width-auto"><select class="js-select">
                                            <option value="">Filter: Active</option>
                                            <option value="Active 1">Active 1</option>
                                            <option value="Active 2">Active 2</option>
                                            <option value="Active 3">Active 3</option>
                                        </select></div>
                                    <div class="uk-width-auto"><button class="ico_more" href="#"></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-grid uk-grid-small uk-child-width-1-2@m" data-uk-grid>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-1.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Lester Barry</div>
                                        <div class="user-item__playing">Playing<b>Grand Theft Auto V</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-2.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Emma Stone</div>
                                        <div class="user-item__playing">Playing<b>PUBG: BATTLEGROU...</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-3.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Guzman Williams</div>
                                        <div class="user-item__playing">Playing<b>Rocket League</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-4.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Olivia Mark</div>
                                        <div class="user-item__playing">Playing<b>Days Gone</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-5.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Alfred Anton</div>
                                        <div class="user-item__playing">Playing<b>Rocket League</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-6.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Bernard Tony</div>
                                        <div class="user-item__playing">Playing<b>New World</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-7.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Ronnie Win</div>
                                        <div class="user-item__playing">Playing<b>Stronghold Kingdoms</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-8.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Harry Gabriel</div>
                                        <div class="user-item__playing">Playing<b>Omno</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-9.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Sophia John</div>
                                        <div class="user-item__playing">Playing<b>Eldest Souls</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-10.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Isabella Ruke</div>
                                        <div class="user-item__playing">Playing<b>The Ascent</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-11.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Lily Lukas</div>
                                        <div class="user-item__playing">Playing<b>HighFleet</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                            <div>
                                <div class="user-item --active">
                                    <div class="user-item__avatar"><img src="~/img/user-list-12.png" alt="user"></div>
                                    <div class="user-item__box">
                                        <div class="user-item__name">Adrian Dima</div>
                                        <div class="user-item__playing">Playing<b>Smithy Wars</b></div>
                                    </div>
                                    <div class="user-item__more"><a class="ico_more" href=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-3@xl">
                        <div class="widjet --friend-requests">
                            <div class="widjet__head">
                                <h3 class="uk-text-lead">Friend Requests</h3>
                            </div>
                            <div class="widjet__body">
                                <ul class="friend-requests-list">
                                    <li class="friend-requests-item">
                                        <div class="friend-requests-item__avatar"><img src="~/img/user-list-5.png" alt="user"></div>
                                        <div class="friend-requests-item__name">Fred Emil</div>
                                        <div class="friend-requests-item__action"><button class="confirm ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                                    </li>
                                    <li class="friend-requests-item">
                                        <div class="friend-requests-item__avatar"><img src="~/img/user-list-8.png" alt="user"></div>
                                        <div class="friend-requests-item__name">Leo Maxwell</div>
                                        <div class="friend-requests-item__action"><button class="confirm ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                                    </li>
                                    <li class="friend-requests-item">
                                        <div class="friend-requests-item__avatar"><img src="~/img/user-list-4.png" alt="user"></div>
                                        <div class="friend-requests-item__name">Olivia Mark</div>
                                        <div class="friend-requests-item__action"><button class=" ico_tick-circle" type="button"></button><button class="reject ico_trash" type="button"></button></div>
                                    </li>




                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </main>