@model dynamic

<div class="uk-flex-top" id="modal-report" data-uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close></button>
        <h2 class="uk-modal-title">Report</h2>
        <form class="uk-form-stacked" action="#">
            <div class="uk-margin">
                <div class="uk-form-label">Subject</div>
                <div class="uk-form-controls"><select class="js-select">
                    <option value="">Choose Subject</option>
                    <option value="Subject 1">Subject 1</option>
                    <option value="Subject 2">Subject 2</option>
                    <option value="Subject 3">Subject 3</option>
                </select></div>
            </div>
            <div class="uk-margin">
                <div class="uk-form-label">Details</div>
                <div class="uk-form-controls"><textarea class="uk-textarea" name="details" placeholder="Try to include all details..."></textarea></div>
                <div class="uk-form-controls uk-margin-small-top">
                    <div data-uk-form-custom><input type="file"><button class="uk-button uk-button-default" type="button" tabindex="-1"><i class="ico_attach-circle"></i><span>Attach File</span></button></div>
                </div>
            </div>
            <div class="uk-margin">
                <div class="uk-grid uk-flex-right" data-uk-grid>
                    <div><button class="uk-button uk-button-small uk-button-link">Cancel</button></div>
                    <div><button class="uk-button uk-button-small uk-button-danger">Submit</button></div>
                </div>
            </div>
        </form>
    </div>
</div>